.container_react {
    // background-color: rgb(216, 216, 216);
    /* padding: 2px 20px; */
    width: 90%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    margin: auto;
}

.clear {
    clear: both;
}

