<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
        <style>
            html, body {
                height: 100%;
                margin: 0; padding: 0;
                background-color: #EAEEF1!important;
            }
            body {
                display : table;
                width: 100%;
            }
            footer {
                display : table-row;
                height: 50px;
                background-color: #3D4A77!important;
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body>
        <div id="app"></div>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <p style="color: #EAEEF1">Copyright (c) 2025 PROJECT All rights reserved</p>
    </footer>
</html>
